In [9]:
import pandas as pd
nls97 = pd.read_csv("data/nls97b.csv")
nls97.set_index("personid", inplace=True)

In [10]:
gpaoverall = nls97.gpaoverall

In [11]:
type(gpaoverall)

pandas.core.series.Series

In [12]:
gpaoverall.head()

personid
100061    3.06
100139     NaN
100284     NaN
100292    3.45
100583    2.91
Name: gpaoverall, dtype: float64

In [13]:
gpaoverall.index

Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

In [14]:
gpaoverall[:5]

personid
100061    3.06
100139     NaN
100284     NaN
100292    3.45
100583    2.91
Name: gpaoverall, dtype: float64

In [15]:
gpaoverall.tail()

personid
999291    3.11
999406    2.17
999543     NaN
999698     NaN
999963    3.78
Name: gpaoverall, dtype: float64

In [16]:
gpaoverall[-5:]

personid
999291    3.11
999406    2.17
999543     NaN
999698     NaN
999963    3.78
Name: gpaoverall, dtype: float64

In [17]:
gpaoverall.loc[100061]

3.06

In [18]:
gpaoverall.loc[[100061]]

personid
100061    3.06
Name: gpaoverall, dtype: float64

In [19]:
gpaoverall.loc[100061:100833]

personid
100061    3.06
100139     NaN
100284     NaN
100292    3.45
100583    2.91
100833    2.46
Name: gpaoverall, dtype: float64

In [20]:
gpaoverall.iloc[[0]]

personid
100061    3.06
Name: gpaoverall, dtype: float64

In [21]:
gpaoverall.iloc[[0,1,2,3,4]]

personid
100061    3.06
100139     NaN
100284     NaN
100292    3.45
100583    2.91
Name: gpaoverall, dtype: float64

In [22]:
gpaoverall.iloc[:5]

personid
100061    3.06
100139     NaN
100284     NaN
100292    3.45
100583    2.91
Name: gpaoverall, dtype: float64

In [23]:
gpaoverall.iloc[-5:]

personid
999291    3.11
999406    2.17
999543     NaN
999698     NaN
999963    3.78
Name: gpaoverall, dtype: float64

In [24]:
import pandas as pd
import numpy as np
nls97 = pd.read_csv("data/nls97b.csv")
nls97.set_index('personid', inplace=True)

In [25]:
gpaoverall = nls97.gpaoverall
gpaoverall.mean()

2.8184077281812128

In [26]:
gpaoverall.quantile(np.arange(0.1,1.1,0.1))

0.1    2.02
0.2    2.31
0.3    2.52
0.4    2.70
0.5    2.86
0.6    3.01
0.7    3.17
0.8    3.36
0.9    3.60
1.0    4.17
Name: gpaoverall, dtype: float64

In [27]:
gpaoverall.loc[gpaoverall.between(3,3.5)].head(5)

personid
100061    3.06
100292    3.45
101526    3.37
101527    3.26
102125    3.14
Name: gpaoverall, dtype: float64

In [28]:
gpaoverall.loc[gpaoverall.between(3,3.5)].count()

1679

In [33]:
gpaoverall.loc[(gpaoverall<2) | (gpaoverall>4)].sample(5, random_state=2)

personid
932782    1.90
561335    1.82
850001    4.10
292455    1.97
644271    1.97
Name: gpaoverall, dtype: float64

In [34]:
gpaoverall.loc[gpaoverall>gpaoverall.quantile(0.99)].agg(['count','min','max'])

count    60.00
min       3.98
max       4.17
Name: gpaoverall, dtype: float64

In [35]:
(gpaoverall>4).any()

True

In [36]:
(gpaoverall>=0).all()

False

In [37]:
(gpaoverall>=0).sum()

6004

In [38]:
(gpaoverall==0).sum()

0

In [39]:
gpaoverall.isnull().sum()

2980

In [40]:
nls97.maritalstatus.describe()

count        6672
unique          5
top       Married
freq         3066
Name: maritalstatus, dtype: object

In [41]:
nls97.loc[nls97.wageincome > nls97.wageincome.quantile(0.75),'gpaoverall'].mean()

3.080417101147028

In [42]:
nls97.loc[nls97.wageincome < nls97.wageincome.quantile(0.25),'gpaoverall'].mean()

2.7201434159061284

In [43]:
nls97.maritalstatus.value_counts()

Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: maritalstatus, dtype: int64

In [44]:
nls97 = pd.read_csv("data/nls97b.csv")
nls97.set_index("personid", inplace=True)

In [46]:
nls97.gpaoverall.head()

personid
100061    3.06
100139     NaN
100284     NaN
100292    3.45
100583    2.91
Name: gpaoverall, dtype: float64

In [47]:
gpaoverall100 = nls97['gpaoverall'] * 100

In [48]:
gpaoverall100.head()

personid
100061    306.0
100139      NaN
100284      NaN
100292    345.0
100583    291.0
Name: gpaoverall, dtype: float64

In [49]:
nls97.loc[[100061], 'gpaoverall'] = 3
nls97.loc[[100139,100284,100292],'gpaoverall'] = 0
nls97.gpaoverall.head()

personid
100061    3.00
100139    0.00
100284    0.00
100292    0.00
100583    2.91
Name: gpaoverall, dtype: float64

In [50]:
nls97['childnum'] = nls97.childathome + nls97.childnotathome
nls97.childnum.value_counts().sort_index()

0.0       23
1.0     1364
2.0     1729
3.0     1020
4.0      420
5.0      149
6.0       55
7.0       21
8.0        7
9.0        1
12.0       2
Name: childnum, dtype: int64

In [51]:
>>> nls97.loc[100061:100292,'gpaoverall'] = nls97.gpaoverall.mean()
>>> nls97.gpaoverall.head()

personid
100061    2.816885
100139    2.816885
100284    2.816885
100292    2.816885
100583    2.910000
Name: gpaoverall, dtype: float64

In [52]:
>>> nls97.iloc[0, 13] = 2
>>> nls97.iloc[1:4, 13] = 1
>>> nls97.gpaoverall.head()

personid
100061    2.00
100139    1.00
100284    1.00
100292    1.00
100583    2.91
Name: gpaoverall, dtype: float64

In [53]:
nls97.gpaoverall.nlargest()

personid
312410    4.17
639701    4.11
850001    4.10
279096    4.08
620216    4.07
Name: gpaoverall, dtype: float64

In [54]:
nls97.loc[nls97.gpaoverall>4, 'gpaoverall'] = 4

In [55]:
nls97.gpaoverall.nlargest()

personid
112756    4.0
119784    4.0
160193    4.0
250666    4.0
271961    4.0
Name: gpaoverall, dtype: float64

In [2]:
import pandas as pd
import numpy as np


nls97 = pd.read_csv("data/nls97b.csv")
nls97.set_index("personid", inplace=True)
landtemps = pd.read_csv("data/landtemps2019avgs.csv")

In [3]:
landtemps.elevation.quantile(np.arange(0.2,1.1,0.2))

0.2      48.0
0.4     190.5
0.6     393.2
0.8    1066.8
1.0    9999.0
Name: elevation, dtype: float64

In [4]:
landtemps['elevation_group'] = np.where(landtemps.elevation>landtemps.elevation.quantile(0.8), 'High', 'Low')

In [5]:
landtemps.elevation_group = landtemps.elevation_group.astype('category')
landtemps.groupby(['elevation_group'])['elevation'].agg(['count','min','max'])

                 count     min     max
elevation_group
High              2409  1067.0  9999.0
Low               9686  -350.0  1066.8

In [6]:
landtemps.elevation.median()

271.3

In [7]:
landtemps['elevation_group'] = np.where(landtemps.elevation>landtemps.elevation.quantile(0.8),'High',np.where(landtemps.elevation>landtemps.elevation.median(),'Medium','Low'))
landtemps.elevation_group = landtemps.elevation_group.astype('category')
landtemps.groupby(['elevation_group'])['elevation'].agg(['count','min','max'])

                 count     min     max
elevation_group
High              2409  1067.0  9999.0
Low               6056  -350.0   271.3
Medium            3630   271.4  1066.8

In [8]:
>>> test = [(nls97.gpaoverall<2) & (nls97.highestdegree=='0. None'), nls97.highestdegree=='0. None', nls97.gpaoverall<2]
>>> result = ['1. Low GPA and No Diploma','2. No Diploma','3. Low GPA']
>>> nls97['hsachieve'] = np.select(test, result, '4. Did Okay')
>>> nls97[['hsachieve','gpaoverall','highestdegree']].head()

              hsachieve  gpaoverall   highestdegree
personid
100061      4. Did Okay        3.06  2. High School
100139      4. Did Okay         NaN  2. High School
100284    2. No Diploma         NaN         0. None
100292      4. Did Okay        3.45    4. Bachelors
100583      4. Did Okay        2.91  2. High School

In [9]:
nls97.hsachieve.value_counts().sort_index()

1. Low GPA and No Diploma      95
2. No Diploma                 858
3. Low GPA                    459
4. Did Okay                  7572
Name: hsachieve, dtype: int64

In [10]:
nls97.loc[[100292,100583,100139], 'colenrfeb00':'colenroct04'].T

personid                100292             100583           100139
colenrfeb00    1. Not enrolled    1. Not enrolled  1. Not enrolled
colenroct00  3. 4-year college    1. Not enrolled  1. Not enrolled
colenrfeb01  3. 4-year college    1. Not enrolled  1. Not enrolled
colenroct01  3. 4-year college  3. 4-year college  1. Not enrolled
colenrfeb02  3. 4-year college  3. 4-year college  1. Not enrolled
colenroct02  3. 4-year college    1. Not enrolled  1. Not enrolled
colenrfeb03  3. 4-year college    1. Not enrolled  1. Not enrolled
colenroct03  3. 4-year college    1. Not enrolled  1. Not enrolled
colenrfeb04  3. 4-year college    1. Not enrolled  1. Not enrolled
colenroct04    1. Not enrolled    1. Not enrolled  1. Not enrolled

In [12]:
nls97['baenrollment'] = nls97.filter(like="colenr").apply(lambda x: x.str[0:1]=='3').any(axis=1)

In [13]:
nls97.baenrollment.value_counts()

False    5085
True     3899
Name: baenrollment, dtype: int64

In [14]:
def getsleepdeprivedreason(row):
  sleepdeprivedreason = "Unknown"
  if (row.nightlyhrssleep>=6):
    sleepdeprivedreason = "Not Sleep Deprived"
  elif (row.nightlyhrssleep>0):
    if (row.weeksworked16+row.weeksworked17 < 80):
      if (row.childathome>2):
        sleepdeprivedreason = "Child Rearing"
      else:
        sleepdeprivedreason = "Other Reasons"
    else:
      if (row.wageincome>=62000 or row.highestgradecompleted>=16):
        sleepdeprivedreason = "Work Pressure"
      else:
        sleepdeprivedreason = "Income Pressure"
  else:
    sleepdeprivedreason = "Unknown"
  return sleepdeprivedreason

In [15]:
nls97['sleepdeprivedreason'] = nls97.apply(getsleepdeprivedreason, axis=1)
nls97.sleepdeprivedreason = nls97.sleepdeprivedreason.astype('category')
nls97.sleepdeprivedreason.value_counts()

Not Sleep Deprived    5595
Unknown               2286
Income Pressure        462
Work Pressure          281
Other Reasons          272
Child Rearing           88
Name: sleepdeprivedreason, dtype: int64

In [17]:
nls97 = pd.read_csv("data/nls97c.csv")
nls97.set_index("personid", inplace=True)

In [18]:
nls97.govprovidejobs.value_counts()

2. Probably          617
3. Probably not      462
1. Definitely        454
4. Definitely not    300
Name: govprovidejobs, dtype: int64

In [19]:
nls97['govprovidejobsdefprob'] = np.where(nls97.govprovidejobs.isnull(), np.nan,np.where(nls97.govprovidejobs.str.contains("not"),"No","Yes"))

In [20]:
pd.crosstab(nls97.govprovidejobs, nls97.govprovidejobsdefprob)

govprovidejobsdefprob   No  Yes
govprovidejobs
1. Definitely            0  454
2. Probably              0  617
3. Probably not        462    0
4. Definitely not      300    0

In [21]:
nls97.maritalstatus.value_counts()

Married          3064
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Married             2
Name: maritalstatus, dtype: int64

In [23]:
nls97.maritalstatus.str.startswith(' ').any()

False

In [24]:
nls97.maritalstatus.str.endswith(' ').any()

True

In [25]:
nls97['evermarried'] = np.where(nls97.maritalstatus.isnull(),np.nan,np.where(nls97.maritalstatus.str.strip()=="Never-married","No","Yes"))

In [26]:
pd.crosstab(nls97.maritalstatus, nls97.evermarried)

evermarried      No   Yes
maritalstatus
Divorced          0   663
Married           0  3064
Married           0     2
Never-married  2766     0
Separated         0   154
Widowed           0    23

In [27]:
nls97['receivedba'] = np.where(nls97.highestdegree.isnull(),np.nan,np.where(nls97.highestdegree.str[0:1].isin(['4','5','6','7']),"Yes","No"))

In [28]:
pd.crosstab(nls97.highestdegree, nls97.receivedba)

receivedba         No   Yes
highestdegree
0. None           953     0
1. GED           1146     0
2. High School   3667     0
3. Associates     737     0
4. Bachelors        0  1673
5. Masters          0   603
6. PhD              0    54
7. Professional     0   120

In [29]:
pd.concat([nls97.weeklyhrstv.head(), nls97.weeklyhrstv.str.findall("\d+").head()], axis=1)

                    weeklyhrstv weeklyhrstv
personid
100061    11 to 20 hours a week    [11, 20]
100139     3 to 10 hours a week     [3, 10]
100284    11 to 20 hours a week    [11, 20]
100292                      NaN         NaN
100583     3 to 10 hours a week     [3, 10]

In [30]:
>>> def getnum(numlist):
...   highval = 0
...   if (type(numlist) is list):
...     lastval = int(numlist[-1])
...     if (numlist[0]=='40'):
...       highval = 45
...     elif (lastval==2):
...       highval = 1
...     else:
...       highval = lastval - 5
...   else:
...     highval = np.nan
...   return highval

In [31]:
>>> nls97['weeklyhrstvnum'] = nls97.weeklyhrstv.str.\
...   findall("\d+").apply(getnum)

In [32]:
>>> pd.crosstab(nls97.weeklyhrstv, nls97.weeklyhrstvnum)

weeklyhrstvnum              1.0   5.0   15.0  25.0  35.0  45.0
weeklyhrstv
11 to 20 hours a week          0     0  1145     0     0     0
21 to 30 hours a week          0     0     0   299     0     0
3 to 10 hours a week           0  3625     0     0     0     0
31 to 40 hours a week          0     0     0     0   116     0
Less than 2 hours per week  1350     0     0     0     0     0
More than 40 hours a week      0     0     0     0     0   176

In [33]:
>>> comphrsold = ['None','Less than 1 hour a week',
...   '1 to 3 hours a week','4 to 6 hours a week',
...   '7 to 9 hours a week','10 hours or more a week']
>>> 
>>> comphrsnew = ['A. None','B. Less than 1 hour a week',
...   'C. 1 to 3 hours a week','D. 4 to 6 hours a week',
...   'E. 7 to 9 hours a week','F. 10 hours or more a week']

In [34]:
nls97.weeklyhrscomputer.value_counts().sort_index()

1 to 3 hours a week         733
10 hours or more a week    3669
4 to 6 hours a week         726
7 to 9 hours a week         368
Less than 1 hour a week     296
None                        918
Name: weeklyhrscomputer, dtype: int64

In [35]:
nls97.weeklyhrscomputer.replace(comphrsold, comphrsnew, inplace=True)

In [36]:
nls97.weeklyhrscomputer.value_counts().sort_index()

A. None                        918
B. Less than 1 hour a week     296
C. 1 to 3 hours a week         733
D. 4 to 6 hours a week         726
E. 7 to 9 hours a week         368
F. 10 hours or more a week    3669
Name: weeklyhrscomputer, dtype: int64