In [2]:
# step first

import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 85)
pd.set_option('display.max_columns', 8)

In [3]:
# step second

landtemps = pd.read_csv('data/landtempssample.csv',
    names=['stationid','year','month','avgtemp','latitude',
      'longitude','elevation','station','countryid','country'],
    skiprows=1,
    parse_dates=[['month','year']],
    low_memory=False)

In [4]:
type(landtemps)

pandas.core.frame.DataFrame

In [5]:
# step third

landtemps.head(7)

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,...,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,...,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,...,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,...,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,NaN,-14.78,...,79.40,MUSGRAVE,AS,Australia
5,1991-04-01,USW00024151,5.59,42.15,...,"1,362.50",MALAD_CITY,US,United States
6,1993-12-01,RSM00022641,-10.17,63.90,...,13.00,ONEGA,RS,Russia

In [6]:
landtemps.shape

(100000, 9)

In [7]:
landtemps.rename(columns={'month_year':'measuredate'}, inplace=True)

In [8]:
landtemps.dtypes

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [9]:
landtemps.avgtemp.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64

In [10]:
landtemps.isnull().sum()

measuredate        0
stationid          0
avgtemp        14446
latitude           0
longitude          0
elevation          0
station            0
countryid          0
country            5
dtype: int64

In [11]:
landtemps.dropna(subset=['avgtemp'], inplace=True)

In [12]:
landtemps.shape

(85554, 9)

In [13]:
############################################################################################

In [17]:
import pandas as pd

In [16]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\mikol\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [18]:
percapitaGDP = pd.read_excel("data/GDPpercapita.xlsx",
   sheet_name="OECD.Stat export",
   skiprows=4,
   skipfooter=1,
   usecols="A,C:T")

In [19]:
percapitaGDP.head()

                         Year   2001   2002   2003  ...   2015   2016   2017   2018
0          Metropolitan areas    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN
1              AUS: Australia     ..     ..     ..  ...     ..     ..     ..     ..
2       AUS01: Greater Sydney  43313  44008  45424  ...  50075  50519  50578  49860
3    AUS02: Greater Melbourne  40125  40894  41602  ...  42928  42671  43025  42674
4     AUS03: Greater Brisbane  37580  37564  39080  ...  44388  45723  46876  46640

[5 rows x 19 columns]

In [20]:
percapitaGDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    702 non-null    object
 1   2001    701 non-null    object
 2   2002    701 non-null    object
 3   2003    701 non-null    object
 4   2004    701 non-null    object
 5   2005    701 non-null    object
 6   2006    701 non-null    object
 7   2007    701 non-null    object
 8   2008    701 non-null    object
 9   2009    701 non-null    object
 10  2010    701 non-null    object
 11  2011    701 non-null    object
 12  2012    701 non-null    object
 13  2013    701 non-null    object
 14  2014    701 non-null    object
 15  2015    701 non-null    object
 16  2016    701 non-null    object
 17  2017    701 non-null    object
 18  2018    701 non-null    object
dtypes: object(19)
memory usage: 104.3+ KB

In [21]:
percapitaGDP.rename(columns={'Year':'metro'}, inplace=True)

In [22]:
percapitaGDP.metro.str.startswith(' ').any()

True

In [23]:
percapitaGDP.metro.str.endswith(' ').any()

True

In [24]:
percapitaGDP.metro = percapitaGDP.metro.str.strip()

In [25]:
for col in percapitaGDP.columns[1:]:
    percapitaGDP[col] = pd.to_numeric(percapitaGDP[col], errors='coerce')
    percapitaGDP.rename(columns={col:'pcGDP'+col}, inplace=True)

In [26]:
percapitaGDP.head()

,metro,pcGDP2001,pcGDP2002,pcGDP2003,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
0,Metropolitan areas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
1,AUS: Australia,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
2,AUS01: Greater Sydney,"43,313.00","44,008.00","45,424.00",...,"50,075.00","50,519.00","50,578.00","49,860.00"
3,AUS02: Greater Melbourne,"40,125.00","40,894.00","41,602.00",...,"42,928.00","42,671.00","43,025.00","42,674.00"
4,AUS03: Greater Brisbane,"37,580.00","37,564.00","39,080.00",...,"44,388.00","45,723.00","46,876.00","46,640.00"

In [27]:
percapitaGDP.dtypes

metro         object
pcGDP2001    float64
pcGDP2002    float64
pcGDP2003    float64
pcGDP2004    float64
pcGDP2005    float64
pcGDP2006    float64
pcGDP2007    float64
pcGDP2008    float64
pcGDP2009    float64
pcGDP2010    float64
pcGDP2011    float64
pcGDP2012    float64
pcGDP2013    float64
pcGDP2014    float64
pcGDP2015    float64
pcGDP2016    float64
pcGDP2017    float64
pcGDP2018    float64
dtype: object

In [28]:
percapitaGDP.describe()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
count,424.00,440.00,440.00,440.00,...,480.00,480.00,445.00,441.00
mean,"41,263.66","41,015.07","41,553.36","42,473.02",...,"45,802.22","46,243.67","47,489.09","48,032.67"
std,"11,877.96","12,536.52","12,456.58","12,621.90",...,"14,948.68","14,938.55","15,463.80","15,719.73"
min,"10,988.00","11,435.00","11,969.00","12,777.00",...,"2,761.00","2,796.00","2,745.00","2,832.00"
25%,"33,139.25","32,636.00","33,284.75","33,864.50",...,"36,128.50","36,584.75","37,316.00","37,908.00"
50%,"39,543.50","39,683.50","40,390.50","41,200.50",...,"43,237.50","43,931.50","45,385.00","46,057.00"
75%,"47,971.75","48,611.00","49,354.75","50,468.25",...,"54,134.25","54,449.75","56,023.00","56,638.00"
max,"91,488.00","93,566.00","98,123.00","96,242.00",...,"121,623.00","117,879.00","122,242.00","127,468.00"

In [29]:
percapitaGDP.dropna(subset=percapitaGDP.columns[1:], how="all", inplace=True)
percapitaGDP.describe()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
count,424.00,440.00,440.00,440.00,...,480.00,480.00,445.00,441.00
mean,"41,263.66","41,015.07","41,553.36","42,473.02",...,"45,802.22","46,243.67","47,489.09","48,032.67"
std,"11,877.96","12,536.52","12,456.58","12,621.90",...,"14,948.68","14,938.55","15,463.80","15,719.73"
min,"10,988.00","11,435.00","11,969.00","12,777.00",...,"2,761.00","2,796.00","2,745.00","2,832.00"
25%,"33,139.25","32,636.00","33,284.75","33,864.50",...,"36,128.50","36,584.75","37,316.00","37,908.00"
50%,"39,543.50","39,683.50","40,390.50","41,200.50",...,"43,237.50","43,931.50","45,385.00","46,057.00"
75%,"47,971.75","48,611.00","49,354.75","50,468.25",...,"54,134.25","54,449.75","56,023.00","56,638.00"
max,"91,488.00","93,566.00","98,123.00","96,242.00",...,"121,623.00","117,879.00","122,242.00","127,468.00"

In [30]:
percapitaGDP.head()

,metro,pcGDP2001,pcGDP2002,pcGDP2003,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
2,AUS01: Greater Sydney,"43,313.00","44,008.00","45,424.00",...,"50,075.00","50,519.00","50,578.00","49,860.00"
3,AUS02: Greater Melbourne,"40,125.00","40,894.00","41,602.00",...,"42,928.00","42,671.00","43,025.00","42,674.00"
4,AUS03: Greater Brisbane,"37,580.00","37,564.00","39,080.00",...,"44,388.00","45,723.00","46,876.00","46,640.00"
5,AUS04: Greater Perth,"45,713.00","47,371.00","48,719.00",...,"66,544.00","66,032.00","66,424.00","70,390.00"
6,AUS05: Greater Adelaide,"36,505.00","37,194.00","37,634.00",...,"40,295.00","39,737.00","40,115.00","39,924.00"

In [31]:
percapitaGDP.metro.count()

480

In [32]:
percapitaGDP.metro.nunique()

480

In [33]:
percapitaGDP.set_index('metro', inplace=True)

In [34]:
percapitaGDP.head()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
metro,,,,,,,,,
AUS01: Greater Sydney,"43,313.00","44,008.00","45,424.00","45,837.00",...,"50,075.00","50,519.00","50,578.00","49,860.00"
AUS02: Greater Melbourne,"40,125.00","40,894.00","41,602.00","42,188.00",...,"42,928.00","42,671.00","43,025.00","42,674.00"
AUS03: Greater Brisbane,"37,580.00","37,564.00","39,080.00","40,762.00",...,"44,388.00","45,723.00","46,876.00","46,640.00"
AUS04: Greater Perth,"45,713.00","47,371.00","48,719.00","51,020.00",...,"66,544.00","66,032.00","66,424.00","70,390.00"
AUS05: Greater Adelaide,"36,505.00","37,194.00","37,634.00","37,399.00",...,"40,295.00","39,737.00","40,115.00","39,924.00"

In [35]:
percapitaGDP.loc['AUS02: Greater Melbourne']

pcGDP2001   40,125.00
pcGDP2002   40,894.00
pcGDP2003   41,602.00
pcGDP2004   42,188.00
pcGDP2005   41,484.00
pcGDP2006   41,589.00
pcGDP2007   42,316.00
pcGDP2008   40,975.00
pcGDP2009   41,384.00
pcGDP2010   40,943.00
pcGDP2011   41,165.00
pcGDP2012   41,264.00
pcGDP2013   41,157.00
pcGDP2014   42,114.00
pcGDP2015   42,928.00
pcGDP2016   42,671.00
pcGDP2017   43,025.00
pcGDP2018   42,674.00
Name: AUS02: Greater Melbourne, dtype: float64

In [36]:
percapitaGDP.shape

(480, 18)

In [37]:
#############################################################

In [11]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.1.4-cp310-cp310-win_amd64.whl (1.3 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.4
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import numpy as np
import pyreadstat

In [13]:
nls97spss, metaspss = pyreadstat.read_sav('data/nls97.sav')
nls97spss.dtypes

R0000100    float64
R0536300    float64
R0536401    float64
R0536402    float64
R1235800    float64
R1482600    float64
R9793800    float64
R9793900    float64
R9871900    float64
R9872000    float64
R9872200    float64
R9872400    float64
S8646900    float64
S8647000    float64
S8647100    float64
S8647200    float64
S8647300    float64
S8647400    float64
S8647500    float64
S8647600    float64
S8647700    float64
S8647800    float64
T6651700    float64
U1836800    float64
U1836900    float64
U1837000    float64
U1837100    float64
U1837200    float64
U1837300    float64
U1845400    float64
U1852400    float64
U1852600    float64
U1852700    float64
U2166200    float64
U2166300    float64
U2166400    float64
U2166500    float64
U2857300    float64
U2962800    float64
U2962900    float64
U2963000    float64
Z9063900    float64
dtype: object

In [14]:
nls97spss.head()

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1.0,2.0,9.0,1981.0,1.0,4.0,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,1.0,7.0,1982.0,1.0,2.0,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,6.0,0.0
2,3.0,2.0,9.0,1983.0,1.0,2.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,6.0,2.0,6.0,0.0
3,4.0,2.0,2.0,1981.0,1.0,2.0,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,6.0,4.0
4,5.0,1.0,10.0,1982.0,1.0,2.0,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,5.0,12.0

In [15]:
nls97spss['R0536300'].value_counts(normalize=True)

1.0    0.51191
2.0    0.48809
Name: R0536300, dtype: float64

In [16]:
metaspss.variable_value_labels['R0536300']

{0.0: 'No Information', 1.0: 'Male', 2.0: 'Female'}

In [17]:
nls97spss['R0536300'].\
  map(metaspss.variable_value_labels['R0536300']).\
  value_counts(normalize=True)

Male      0.51191
Female    0.48809
Name: R0536300, dtype: float64

In [18]:
nls97spss = pyreadstat.set_value_labels(nls97spss, metaspss, formats_as_category=True)

In [19]:
nls97spss.columns = metaspss.column_labels
nls97spss['KEY!SEX (SYMBOL) 1997'].value_counts(normalize=True)

Male      0.51191
Female    0.48809
Name: KEY!SEX (SYMBOL) 1997, dtype: float64

In [20]:
nls97spss.dtypes

PUBID - YTH ID CODE 1997                        float64
KEY!SEX (SYMBOL) 1997                          category
KEY!BDATE M/Y (SYMBOL) 1997                     float64
KEY!BDATE M/Y (SYMBOL) 1997                     float64
CV_SAMPLE_TYPE 1997                            category
KEY!RACE_ETHNICITY (SYMBOL) 1997               category
TRANS_SAT_VERBAL HSTR                           float64
TRANS_SAT_MATH HSTR                             float64
TRANS CRD GPA OVERALL HSTR                      float64
TRANS CRD GPA ENG HSTR                          float64
TRANS CRD GPA MATH HSTR                         float64
TRANS CRD GPA LP SCI HSTR                       float64
GOVT RESPONSIBILITY - PROVIDE JOBS 2006        category
GOVT RESPNSBLTY - KEEP PRICES UND CTRL 2006    category
GOVT RESPNSBLTY - HLTH CARE FOR SICK 2006      category
GOVT RESPNSBLTY -PROV ELD LIV STAND 2006       category
GOVT RESPNSBLTY -PROV IND HELP 2006            category
GOVT RESPNSBLTY -PROV UNEMP LIV STAND 2006     category
GOVT RESPNSBLTY -REDUCE INC DIFF 2006          category
GOVT RESPNSBLTY -PROV COLL FIN AID 2006        category
GOVT RESPNSBLTY -PROV DECENT HOUSING 2006      category
GOVT RESPNSBLTY -PROTECT ENVIRONMENT 2006      category
CV_BA_CREDITS L1 2011                           float64
CV_COLLEGE_TYPE L1 2017                        category
CV_COLLEGE_TYPE L2 2017                        category
CV_COLLEGE_TYPE L3 2017                        category
CV_COLLEGE_TYPE L4 2017                        category
CV_COLLEGE_TYPE L5 2017                        category
CV_COLLEGE_TYPE L6 2017                        category
CV_HGC_EVER 2017                               category
CV_MARSTAT_COLLAPSED 2017                      category
CV_BIO_CHILD_HH 2017                            float64
CV_BIO_CHILD_NR 2017                            float64
DIPLOMA/DEGREE RCVD? L1 2017                   category
DIPLOMA/DEGREE RCVD? L2 2017                   category
DIPLOMA/DEGREE RCVD? L3 2017                   category
DIPLOMA/DEGREE RCVD? L4 2017                   category
EST INC WAGES, TIPS PAST YR 2017               category
HRS/WK R USES A COMPUTER 2017                  category
HRS/WK R WATCHES TELEVISION 2017               category
HRS/NIGHT R SLEEPS 2017                         float64
CVC_WKSWK_YR_ALL L99                            float64
dtype: object

In [21]:
nls97spss.columns = nls97spss.columns.\
    str.lower().\
    str.replace(' ','_').\
    str.replace('[^a-z0-9_]', '')

C:\Users\mikol\AppData\Local\Temp/ipykernel_17280/652755672.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  str.replace('[^a-z0-9_]', '')

In [22]:
nls97spss.set_index('pubid__yth_id_code_1997', inplace=True)

In [23]:
nls97spss, metaspss = pyreadstat.read_sav('data/nls97.sav', apply_value_formats=True, formats_as_category=True)
nls97spss.columns = metaspss.column_labels
nls97spss.columns = nls97spss.columns.\
  str.lower().\
  str.replace(' ','_').\
  str.replace('[^a-z0-9_]', '')

C:\Users\mikol\AppData\Local\Temp/ipykernel_17280/1421645193.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  str.replace('[^a-z0-9_]', '')

In [24]:
nls97spss.dtypes

pubid__yth_id_code_1997                        float64
keysex_symbol_1997                            category
keybdate_my_symbol_1997                        float64
keybdate_my_symbol_1997                        float64
cv_sample_type_1997                           category
keyrace_ethnicity_symbol_1997                 category
trans_sat_verbal_hstr                          float64
trans_sat_math_hstr                            float64
trans_crd_gpa_overall_hstr                     float64
trans_crd_gpa_eng_hstr                         float64
trans_crd_gpa_math_hstr                        float64
trans_crd_gpa_lp_sci_hstr                      float64
govt_responsibility__provide_jobs_2006        category
govt_respnsblty__keep_prices_und_ctrl_2006    category
govt_respnsblty__hlth_care_for_sick_2006      category
govt_respnsblty_prov_eld_liv_stand_2006       category
govt_respnsblty_prov_ind_help_2006            category
govt_respnsblty_prov_unemp_liv_stand_2006     category
govt_respnsblty_reduce_inc_diff_2006          category
govt_respnsblty_prov_coll_fin_aid_2006        category
govt_respnsblty_prov_decent_housing_2006      category
govt_respnsblty_protect_environment_2006      category
cv_ba_credits_l1_2011                          float64
cv_college_type_l1_2017                       category
cv_college_type_l2_2017                       category
cv_college_type_l3_2017                       category
cv_college_type_l4_2017                       category
cv_college_type_l5_2017                       category
cv_college_type_l6_2017                       category
cv_hgc_ever_2017                              category
cv_marstat_collapsed_2017                     category
cv_bio_child_hh_2017                           float64
cv_bio_child_nr_2017                           float64
diplomadegree_rcvd_l1_2017                    category
diplomadegree_rcvd_l2_2017                    category
diplomadegree_rcvd_l3_2017                    category
diplomadegree_rcvd_l4_2017                    category
est_inc_wages_tips_past_yr_2017               category
hrswk_r_uses_a_computer_2017                  category
hrswk_r_watches_television_2017               category
hrsnight_r_sleeps_2017                         float64
cvc_wkswk_yr_all_l99                           float64
dtype: object

In [25]:
nls97spss.head()

,pubid__yth_id_code_1997,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0

In [26]:
nls97spss.govt_responsibility__provide_jobs_2006.\
  value_counts(sort=False)

Definitely should be        454
Definitely should not be    300
Probably should be          617
Probably should not be      462
Name: govt_responsibility__provide_jobs_2006, dtype: int64

In [27]:
nls97spss.set_index('pubid__yth_id_code_1997', inplace=True)

In [28]:
nls97stata, metastata = pyreadstat.read_dta('data/nls97.dta', apply_value_formats=True, formats_as_category=True)
nls97stata.columns = metastata.column_labels
nls97stata.columns = nls97stata.columns.\
    str.lower().\
    str.replace(' ','_').\
    str.replace('[^a-z0-9_]', '')
nls97stata.dtypes

C:\Users\mikol\AppData\Local\Temp/ipykernel_17280/2487296836.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  str.replace('[^a-z0-9_]', '')

pubid__yth_id_code_1997                        float64
keysex_symbol_1997                            category
keybdate_my_symbol_1997                        float64
keybdate_my_symbol_1997                        float64
cv_sample_type_1997                           category
keyrace_ethnicity_symbol_1997                 category
trans_sat_verbal_hstr                          float64
trans_sat_math_hstr                            float64
trans_crd_gpa_overall_hstr                     float64
trans_crd_gpa_eng_hstr                         float64
trans_crd_gpa_math_hstr                        float64
trans_crd_gpa_lp_sci_hstr                      float64
govt_responsibility__provide_jobs_2006        category
govt_respnsblty__keep_prices_und_ctrl_2006    category
govt_respnsblty__hlth_care_for_sick_2006      category
govt_respnsblty_prov_eld_liv_stand_2006       category
govt_respnsblty_prov_ind_help_2006            category
govt_respnsblty_prov_unemp_liv_stand_2006     category
govt_respnsblty_reduce_inc_diff_2006          category
govt_respnsblty_prov_coll_fin_aid_2006        category
govt_respnsblty_prov_decent_housing_2006      category
govt_respnsblty_protect_environment_2006      category
cv_ba_credits_l1_2011                          float64
cv_college_type_l1_2017                       category
cv_college_type_l2_2017                       category
cv_college_type_l3_2017                       category
cv_college_type_l4_2017                       category
cv_college_type_l5_2017                       category
cv_college_type_l6_2017                       category
cv_hgc_ever_2017                              category
cv_marstat_collapsed_2017                     category
cv_bio_child_hh_2017                           float64
cv_bio_child_nr_2017                           float64
diplomadegree_rcvd_l1_2017                    category
diplomadegree_rcvd_l2_2017                    category
diplomadegree_rcvd_l3_2017                    category
diplomadegree_rcvd_l4_2017                    category
est_inc_wages_tips_past_yr_2017               category
hrswk_r_uses_a_computer_2017                  category
hrswk_r_watches_television_2017               category
hrsnight_r_sleeps_2017                         float64
cvc_wkswk_yr_all_l99                           float64
dtype: object

In [29]:
nls97stata.head()

,pubid__yth_id_code_1997,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,-4.0,-4.0,-4.0,-4.0,...,0.0,-4.0,-4.0,-4.0,-4.0,-1.0,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,-4.0,-4.0,253.0,216.0,...,1.0,-4.0,-4.0,-4.0,-4.0,-4.0,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,-4.0,-4.0,243.0,235.0,...,0.0,-4.0,-4.0,-4.0,-4.0,-4.0,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0

In [30]:
nls97stata.govt_responsibility__provide_jobs_2006.\
  value_counts(sort=False)

-5.0                        1425
-4.0                        5665
-2.0                          56
-1.0                           5
Definitely should be         454
Definitely should not be     300
Probably should be           617
Probably should not be       462
Name: govt_responsibility__provide_jobs_2006, dtype: int64

In [31]:
nls97stata.min()

C:\Users\mikol\AppData\Local\Temp/ipykernel_17280/287655406.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nls97stata.min()

pubid__yth_id_code_1997          1.0
keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           -4.0
trans_sat_math_hstr             -4.0
trans_crd_gpa_overall_hstr      -9.0
trans_crd_gpa_eng_hstr          -9.0
trans_crd_gpa_math_hstr         -9.0
trans_crd_gpa_lp_sci_hstr       -9.0
cv_ba_credits_l1_2011           -5.0
cv_bio_child_hh_2017            -5.0
cv_bio_child_nr_2017            -5.0
hrsnight_r_sleeps_2017          -5.0
cvc_wkswk_yr_all_l99            -4.0
dtype: float64

In [32]:
nls97stata.replace(list(range(-9,0)), np.nan, inplace=True)

In [33]:
nls97stata.min()

C:\Users\mikol\AppData\Local\Temp/ipykernel_17280/287655406.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nls97stata.min()

pubid__yth_id_code_1997          1.0
keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           14.0
trans_sat_math_hstr              7.0
trans_crd_gpa_overall_hstr      10.0
trans_crd_gpa_eng_hstr           0.0
trans_crd_gpa_math_hstr          0.0
trans_crd_gpa_lp_sci_hstr        0.0
cv_ba_credits_l1_2011            0.0
cv_bio_child_hh_2017             0.0
cv_bio_child_nr_2017             0.0
hrsnight_r_sleeps_2017           0.0
cvc_wkswk_yr_all_l99             0.0
dtype: float64

In [34]:
nls97stata.set_index('pubid__yth_id_code_1997', inplace=True)

In [35]:
nls97sas, metasas = pyreadstat.read_sas7bdat('data/nls97.sas7bdat', catalog_file='data/nlsformats3.sas7bcat', formats_as_category=True)

In [36]:
nls97sas.columns = metasas.column_labels

In [38]:
nls97sas.columns = nls97sas.columns.\
    str.lower().\
    str.replace(' ','_').\
    str.replace('[^a-z0-9_]', '')

C:\Users\mikol\AppData\Local\Temp/ipykernel_17280/3697091447.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  str.replace('[^a-z0-9_]', '')

In [39]:
nls97sas.head()

,pubid__yth_id_code_1997,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0

In [40]:
nls97sas.keysex_symbol_1997.value_counts()

Male      4599
Female    4385
Name: keysex_symbol_1997, dtype: int64

In [41]:
nls97sas.set_index('pubid__yth_id_code_1997', inplace=True)

In [42]:
pip install pyreadr

Collecting pyreadr
  Downloading pyreadr-0.4.4-cp310-cp310-win_amd64.whl (1.1 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pyreadr) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadr) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2.0->pyreadr) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadr) (1.16.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.4
Note: you may need to restart the kernel to use updated packages.

In [43]:
import pandas as pd
import numpy as np
import pyreadr
import pprint

In [44]:
nls97r = pyreadr.read_r('data/nls97.rds')[None]

In [45]:
nls97r.dtypes

R0000100    int32
R0536300    int32
R0536401    int32
R0536402    int32
R1235800    int32
R1482600    int32
R9793800    int32
R9793900    int32
R9871900    int32
R9872000    int32
R9872200    int32
R9872400    int32
S8646900    int32
S8647000    int32
S8647100    int32
S8647200    int32
S8647300    int32
S8647400    int32
S8647500    int32
S8647600    int32
S8647700    int32
S8647800    int32
T6651700    int32
U1836800    int32
U1836900    int32
U1837000    int32
U1837100    int32
U1837200    int32
U1837300    int32
U1845400    int32
U1852400    int32
U1852600    int32
U1852700    int32
U2166200    int32
U2166300    int32
U2166400    int32
U2166500    int32
U2857300    int32
U2962800    int32
U2962900    int32
U2963000    int32
Z9063900    int32
dtype: object

In [46]:
nls97r.head(10)

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1,2,9,1981,1,4,350,470,309,310,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,52
1,2,1,7,1982,1,2,460,440,217,280,...,-4,-4,-4,-4,-4,-4,4,2,6,0
2,3,2,9,1983,1,2,-4,-4,-4,-4,...,0,-4,-4,-4,-4,-1,6,2,6,0
3,4,2,2,1981,1,2,-4,-4,253,216,...,1,-4,-4,-4,-4,-4,3,2,6,4
4,5,1,10,1982,1,2,-4,-4,243,235,...,0,-4,-4,-4,-4,-4,2,2,5,12
5,6,2,1,1982,1,2,-4,-4,162,100,...,0,-4,-4,-4,-4,3,4,2,6,6
6,7,1,4,1983,1,2,-4,-4,-4,-4,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,0
7,8,2,6,1981,1,4,620,620,281,304,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,39
8,9,1,10,1982,1,4,380,460,286,290,...,-4,-4,-4,-4,-4,-4,6,2,4,0
9,10,1,3,1984,1,4,600,560,362,375,...,0,-4,-4,-4,-4,-4,6,2,6,0

In [47]:
with open('data/nlscodes.txt', 'r') as reader:
    setvalues = eval(reader.read())

pprint.pprint(setvalues)

{'R0536300': {0.0: 'No Information', 1.0: 'Male', 2.0: 'Female'},
 'R1235800': {0.0: 'Oversample', 1.0: 'Cross-sectional'},
 'S8646900': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647000': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647100': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647200': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647300': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647400': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647500': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647600': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647700': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'S8647800': {1.0: '1. Definitely',
              2.0: '2. Probably ',
              3.0: '3. Probably not',
              4.0: '4. Definitely not'},
 'U1836800': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1836900': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837000': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837100': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837200': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1837300': {1.0: 'Public ',
              2.0: 'Private not-for-profit',
              3.0: 'Private for-profit'},
 'U1845400': {0.0: 'NONE',
              1.0: 'A. 1ST GRADE',
              2.0: 'B. 2ND GRADE',
              3.0: 'C. 3RD GRADE',
              4.0: 'D. 4TH GRADE',
              5.0: 'E. 5TH GRADE',
              6.0: 'F. 6TH GRADE',
              7.0: 'G. 7TH GRADE',
              8.0: 'H. 8TH GRADE',
              9.0: 'I. 9TH GRADE',
              10.0: 'J. 10TH GRADE',
              11.0: 'K. 11TH GRADE',
              12.0: 'L. 12TH GRADE',
              13.0: 'M. 1ST YEAR COLLEGE',
              14.0: 'N. 2ND YEAR COLLEGE',
              15.0: 'O. 3RD YEAR COLLEGE',
              16.0: 'P. 4TH YEAR COLLEGE',
              17.0: 'Q. 5TH YEAR COLLEGE',
              18.0: 'R. 6TH YEAR COLLEGE',
              19.0: 'S. 7TH YEAR COLLEGE',
              20.0: 'T. 8TH YEAR COLLEGE OR MORE',
              95.0: '99. UNGRADED'},
 'U1852400': {0.0: 'Never-married',
              1.0: 'Married',
              2.0: 'Separated',
              3.0: 'Divorced',
              4.0: 'Widowed'},
 'U2166200': {1.0: '1. Associate/Junior College or two-year associate degree '
                   '(AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2166300': {1.0: '1. Associate/Junior College or two-year associate degree '
                   '(AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2166400': {1.0: '1. Associate/Junior College or two-year associate degree '
                   '(AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2166500': {1.0: 'Associate/Junior College or two-year associate degree (AA)',
              2.0: '2. Vocational or technical certificate',
              3.0: "3. Bachelor's degree (BA, BS or unspecified)",
              4.0: "4. Master's degree (MA, MBA, MS, MSW)",
              5.0: '5. Doctoral Degree (PhD)',
              6.0: '6. Professional Degree (MD, LLD, DDS, JD)',
              7.0: '7. No degree received',
              8.0: '8. OTHER (SPECIFY)',
              9.0: '9. GED',
              999.0: '999. UNCODEABLE'},
 'U2857300': {1.0: 'A. $1 - $5,000',
              2.0: 'B. $5,001 - $10,000',
              3.0: 'C. $10,001 - $25,000',
              4.0: 'D. $25,001 - $50,000',
              5.0: 'E. $50,001 - $100,000',
              6.0: 'F. $100,001 - $250,000',
              7.0: 'G. More than $250,000'},
 'U2962800': {1.0: '1. None',
              2.0: '2. Less than 1 hour a week',
              3.0: '3. 1 to 3 hours a week',
              4.0: '4. 4 to 6 hours a week',
              5.0: '5. 7 to 9 hours a week',
              6.0: '6. 10 hours or more a week'},
 'U2962900': {1.0: '1. Less than 2 hours per week',
              2.0: '2. 3 to 10 hours a week',
              3.0: '3. 11 to 20 hours a week',
              4.0: '4. 21 to 30 hours a week',
              5.0: '5. 31 to 40 hours a week',
              6.0: '6. More than 40 hours a week'}}

In [48]:
newcols = ['personid','gender','birthmonth','birthyear',
  'sampletype',  'category','satverbal','satmath',
  'gpaoverall','gpaeng','gpamath','gpascience','govjobs',
  'govprices','govhealth','goveld','govind','govunemp',
  'govinc','govcollege','govhousing','govenvironment',
  'bacredits','coltype1','coltype2','coltype3','coltype4',
  'coltype5','coltype6','highestgrade','maritalstatus',
  'childnumhome','childnumaway','degreecol1',
  'degreecol2','degreecol3','degreecol4','wageincome',
  'weeklyhrscomputer','weeklyhrstv',
  'nightlyhrssleep','weeksworkedlastyear']

In [49]:
nls97r.replace(setvalues, inplace=True)
nls97r.head()

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1,Female,9,1981,Cross-sectional,4,350,470,309,310,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,52
1,2,Male,7,1982,Cross-sectional,2,460,440,217,280,...,-4,-4,-4,-4,-4,-4,4. 4 to 6 hours a week,2. 3 to 10 hours a week,6,0
2,3,Female,9,1983,Cross-sectional,2,-4,-4,-4,-4,...,0,-4,-4,-4,-4,-1,6. 10 hours or more a week,2. 3 to 10 hours a week,6,0
3,4,Female,2,1981,Cross-sectional,2,-4,-4,253,216,...,1,-4,-4,-4,-4,-4,3. 1 to 3 hours a week,2. 3 to 10 hours a week,6,4
4,5,Male,10,1982,Cross-sectional,2,-4,-4,243,235,...,0,-4,-4,-4,-4,-4,2. Less than 1 hour a week,2. 3 to 10 hours a week,5,12

In [50]:
nls97r.replace(list(range(-9,0)), np.nan, inplace=True)

In [51]:
for col in nls97r[[k for k in setvalues]].columns:
    nls97r[col] = nls97r[col].astype('category')

In [52]:
nls97r.dtypes

R0000100     float64
R0536300    category
R0536401     float64
R0536402     float64
R1235800    category
R1482600     float64
R9793800     float64
R9793900     float64
R9871900     float64
R9872000     float64
R9872200     float64
R9872400     float64
S8646900    category
S8647000    category
S8647100    category
S8647200    category
S8647300    category
S8647400    category
S8647500    category
S8647600    category
S8647700    category
S8647800    category
T6651700     float64
U1836800    category
U1836900    category
U1837000    category
U1837100    category
U1837200    category
U1837300    category
U1845400    category
U1852400    category
U1852600     float64
U1852700     float64
U2166200    category
U2166300    category
U2166400    category
U2166500    category
U2857300    category
U2962800    category
U2962900    category
U2963000     float64
Z9063900     float64
dtype: object

In [53]:
nls97r.columns = newcols
nls97r.dtypes

personid                float64
gender                 category
birthmonth              float64
birthyear               float64
sampletype             category
category                float64
satverbal               float64
satmath                 float64
gpaoverall              float64
gpaeng                  float64
gpamath                 float64
gpascience              float64
govjobs                category
govprices              category
govhealth              category
goveld                 category
govind                 category
govunemp               category
govinc                 category
govcollege             category
govhousing             category
govenvironment         category
bacredits               float64
coltype1               category
coltype2               category
coltype3               category
coltype4               category
coltype5               category
coltype6               category
highestgrade           category
maritalstatus          category
childnumhome            float64
childnumaway            float64
degreecol1             category
degreecol2             category
degreecol3             category
degreecol4             category
wageincome             category
weeklyhrscomputer      category
weeklyhrstv            category
nightlyhrssleep         float64
weeksworkedlastyear     float64
dtype: object

In [55]:
pip install rpy2

Collecting rpy2
  Downloading rpy2-3.4.5.tar.gz (194 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: cffi>=1.10.0 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from rpy2) (1.15.0)
Collecting jinja2
  Using cached Jinja2-3.0.3-py3-none-any.whl (133 kB)
Requirement already satisfied: pytz in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from rpy2) (2021.3)
Collecting tzlocal
  Downloading tzlocal-4.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pycparser in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from cffi>=1.10.0->rpy2) (2.21)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.0.1-cp310-cp310-win_amd64.whl (15 kB)
Collecting tzdata
  Downloading tzdata-2021.5-py2.py3-none-any.whl (339 kB)
Collecting pytz-deprecation-shim
  Downloading pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py): started
  Building wheel for rpy2 (setup.py): finished with status 'done'
  Created wheel for rpy2: filename=rpy2-3.4.5-py3-none-any.whl size=198863 sha256=78603cd9fd5742debd62b69e6bf287b0ee681d088a9920af7046310acfca4a8a
  Stored in directory: c:\users\mikol\appdata\local\pip\cache\wheels\ba\d8\8b\68fc240578a71188d0ca04b6fe8a58053fbcbcfbe2a3cbad12
Successfully built rpy2
Installing collected packages: tzdata, pytz-deprecation-shim, MarkupSafe, tzlocal, jinja2, rpy2
Successfully installed MarkupSafe-2.0.1 jinja2-3.0.3 pytz-deprecation-shim-0.1.0.post0 rpy2-3.4.5 tzdata-2021.5 tzlocal-4.1
Note: you may need to restart the kernel to use updated packages.

In [56]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
pandas2ri.activate()
readRDS = robjects.r['readRDS']
nls97withvalues = readRDS('data/nls97withvalues.rds')
nls97withvalues

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
1,1,Female,9,1981,Cross-sectional,Non-Black / Non-Hispanic,350,470,309,310,...,-2147483648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2147483648,52
2,2,Male,7,1982,Cross-sectional,Hispanic,460,440,217,280,...,-2147483648,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6,0
3,3,Female,9,1983,Cross-sectional,Hispanic,-2147483648,-2147483648,-2147483648,-2147483648,...,0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6,0
4,4,Female,2,1981,Cross-sectional,Hispanic,-2147483648,-2147483648,253,216,...,1,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6,4
5,5,Male,10,1982,Cross-sectional,Hispanic,-2147483648,-2147483648,243,235,...,0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8980,9018,Female,3,1980,Cross-sectional,Non-Black / Non-Hispanic,-2147483648,-2147483648,-2147483648,-2147483648,...,3,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,4,49
8981,9019,Male,9,1984,Oversample,Hispanic,-2147483648,-2147483648,-2147483648,-2147483648,...,4,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,6,0
8982,9020,Male,7,1980,Cross-sectional,Non-Black / Non-Hispanic,-2147483648,-2147483648,322,290,...,-2147483648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2147483648,15
8983,9021,Male,7,1980,Cross-sectional,Non-Black / Non-Hispanic,-2147483648,-2147483648,230,184,...,0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,7,50
8984,9022,Female,1,1982,Cross-sectional,Non-Black / Non-Hispanic,-2147483648,-2147483648,-2147483648,-2147483648,...,0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,Less than 2 hours per week,7,20

In [58]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-6.0.1-cp310-cp310-win_amd64.whl (15.5 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\mikol\appdata\local\programs\python\python310\lib\site-packages (from pyarrow) (1.21.4)
Installing collected packages: pyarrow
Successfully installed pyarrow-6.0.1
Note: you may need to restart the kernel to use updated packages.

In [64]:
import pandas as pd
import pyarrow
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 68)
pd.set_option('display.max_columns', 3)

In [65]:
landtemps = pd.read_csv('data/landtempssample.csv',
    names=['stationid','year','month','avgtemp','latitude',
      'longitude','elevation','station','countryid','country'],
    skiprows=1,
    parse_dates=[['month','year']],
    low_memory=False)

In [66]:
landtemps.rename(columns={'month_year':'measuredate'}, inplace=True)

In [67]:
landtemps.dropna(subset=['avgtemp'], inplace=True)

In [68]:
landtemps.dtypes

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [69]:
landtemps.set_index(['measuredate','stationid'], inplace=True)

In [70]:
extremevals = landtemps[(landtemps.avgtemp < landtemps.avgtemp.quantile(.001)) | (landtemps.avgtemp > landtemps.avgtemp.quantile(.999))]

In [71]:
extremevals.shape

(171, 7)

In [72]:
extremevals.sample(7)

                         avgtemp  ...        country
measuredate stationid             ...
1993-07-01  MR000061421    35.98  ...     Mauritania
1942-07-01  USC00024977    34.84  ...  United States
1993-08-01  AYM00089606   -70.70  ...     Antarctica
2015-08-01  AYM00089873   -35.00  ...     Antarctica
1993-05-01  MLM00061233    36.44  ...           Mali
1990-01-01  CA002403854   -34.97  ...         Canada
1996-05-01  SU000062600    34.68  ...          Sudan

[7 rows x 7 columns]

In [73]:
extremevals.to_excel('views/tempext.xlsx')

In [74]:
extremevals.to_csv('views/tempext.csv')

In [75]:
landtemps.to_pickle('data/landtemps.pkl')
landtemps.reset_index(inplace=True)
landtemps.to_feather("data/landtemps.ftr")

In [76]:
landtemps = pd.read_pickle('data/landtemps.pkl')

In [77]:
landtemps.head(2).T

measuredate     2000-04-01  1940-05-01
stationid      USS0010K01S CI000085406
avgtemp               5.27       18.04
latitude             39.90      -18.35
longitude          -110.75      -70.33
elevation         2,773.70       58.00
station      INDIAN_CANYON       ARICA
countryid               US          CI
country      United States       Chile

In [78]:
landtemps = pd.read_feather("data/landtemps.ftr")
landtemps.head(2).T

                               0                    1
measuredate  2000-04-01 00:00:00  1940-05-01 00:00:00
stationid            USS0010K01S          CI000085406
avgtemp                     5.27                18.04
latitude                   39.90               -18.35
longitude                -110.75               -70.33
elevation               2,773.70                58.00
station            INDIAN_CANYON                ARICA
countryid                     US                   CI
country            United States                Chile

In [1]:
pip --no-cache-dir install pymssql

Collecting pymssql
  Downloading pymssql-2.2.3-cp310-cp310-win_amd64.whl (1.5 MB)
Installing collected packages: pymssql
Successfully installed pymssql-2.2.3
Note: you may need to restart the kernel to use updated packages.